<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <label for="user_name"></label>
  <input type="text" name="name" id="user_name">

  <label for="user_email"></label>
  <input type="text" name="email" id="user_email">

  <label for="user_password"></label>
  <input type="text" name="password" id="user_password">
</form>
